<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@500&display=swap');

			body {
				display: flex;
				flex-direction: column;
				gap: 1.5rem;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
			}
			h1 {
				color: rgb(59 130 246);
			}
			.token {
				font-weight: bold;
				word-break: break-all;
			}
			span {
				font-size: 0.7rem;
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>TaskFlow Pro</h1>
			<p>
				Copy the following code to start resetting your password (lasts for 10
				minutes).
			</p>
		</div>
		<p class="token">
			d0f9e8334701e3282e814c61738c71012257650cd452290a3f2140aa2495d4f8
		</p>
		<span
			>If you didn&apos;t forget your password, please ignore this email!</span
		>
	</body>
</html>
